body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #ff7e5f, #2b5876);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#contenedorlo {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

#iniciar {
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.icon{
    position: relative;
    top: 8px;
}